<div id="carouselHome" class="carousel slide " data-bs-ride="carousel">
  <div class="carousel-inner d-flex justify-content-center">
    <div class="carousel-item active">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915038/Padelhack/adidas_pala2_hfbflr.jpg" class="d-block w-25" alt="image1">
      <div class="carousel-caption d-block w-25">
        <h4>ADIDAS RX CARBON 2023</h4>
        <h3>palas</h3>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915122/Padelhack/babolat_zapatillas1_brdvma.jpg" class="d-block w-25" alt="image2">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915295/Padelhack/babolat_textil1_gerybe.jpg" class="d-block w-25" alt="image3">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915367/Padelhack/nox_pelotas1_cekiei.jpg" class="d-block w-25" alt="image4">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915435/Padelhack/varlion_pala1_xjouwb.jpg" class="d-block w-25" alt="image5">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915499/Padelhack/wilson_zapatillas1_antyl9.jpg" class="d-block w-25" alt="image6">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915594/Padelhack/mystica_textil1_zwr5st.jpg" class="d-block w-25" alt="image7">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915675/Padelhack/vibora_pelotas1_smthak.jpg" class="d-block w-25" alt="image8">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915734/Padelhack/vibora_pala1_uwx4b6.jpg" class="d-block w-25" alt="image9">
    </div>
    <div class="carousel-item">
      <img src="https://res.cloudinary.com/dinsqpato/image/upload/v1690915946/Padelhack/nox_zapatillas1_ba1sme.jpg" class="d-block w-25" alt="image10">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselHome" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselHome" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>