
<div id="navbar">
  
<nav class="navbar-expand-lg navbar fixed-top" data-bs-theme="dark">


  <div class="container-fluid">
    <a class="navbar-brand" href="/">Padelhack</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul id="navbar-start" class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#unless currentUser}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/products/list">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login">Login</a>
        </li>
        {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/products/list">Ver todos</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="/products/create">Crear un Producto</a></li>
          </ul>
        </li>
      </ul>
      <ul id="navbar-end" class="navbar-nav me-0 mb-2 mb-lg-0 d-flex justify-content-center">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle img-fluid" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span><img src="{{currentUser.avatar}}" alt=""></span>{{currentUser.username}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" aria-current="page" href="/logout">Log out</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="nav-link" aria-current="page" href="/profile">Perfil</a></li>
          </ul>
          {{!--
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/logout">Log out</a>
        </li> --}}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/cart/cart"><i class="bi bi-cart4"></i>
            <span class="badge bg-warning">{{cart.totalProductsInCart}}</span>
          </a>
        </li>
        {{/unless}}
      </ul>
    </div>
  </div>

</nav>
</div>
