/* 
código de colores
#034C8C
#048ABF
#04B2D9
#05F2F2
#D7F205
*/

#carousel-item2 {
  margin-left: -380px;
}

.outlet-bar {
    display: flex;
    justify-content: center;
}

nav{
    color: #D7F205 !important;
    background:   linear-gradient(45deg, #034C8C, #048ABF, #04B2D9, #05F2F2);
}
